<div mat-dialog-content>
  <form [formGroup]="form">

    <mat-form-field class="mw" appearance="fill">
      <textarea matInput formControlName="message" placeholder="Share your thoughts..."></textarea>
      <mat-error *ngIf="form.get('message')?.invalid"> {{ getErrorMessage('message') }} </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions class="mw">
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button (click)="onSubmit()">Send</button>
</div>
