<mat-card *ngIf="userInfo">

  <mat-card-header>

    <img mat-card-avatar src="{{ DOMAIN }}/{{ userInfo.imageUri }}" alt="{{ userInfo.name }}"/>

    <mat-card-title>

      <div [ngSwitch]="useNameAsLink">
        <div *ngSwitchCase="true">
          <a [routerLink]="['/user', userInfo.id]"> {{ userInfo.name }} </a>
        </div>
        <div *ngSwitchDefault>
          <span> {{ userInfo.name }} </span>
        </div>
      </div>

    </mat-card-title>

    <mat-card-subtitle> {{ userInfo.email }} </mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    <span> Birth date: {{ userInfo.birthDate }} </span>
    <br>
  </mat-card-content>

  <mat-card-actions *ngIf="showActions">
    <button mat-button (click)="onAddUser()"> Add friend </button>
    <button mat-button (click)="onCreateChat()"> Start chat </button>
  </mat-card-actions>

</mat-card>
